@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-1 focus:outline-none dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800;
  }
  .btn-primary{
    @apply px-4 py-2 text-white bg-blue-700 hover:bg-blue-800 text-sm font-semibold rounded-full hover:border-0 hover:border-blue-600 
  }
  .btn-secondary{
    @apply px-2 py-2 font-semibold bg-brandYellow text-sm text-black rounded-full hover:bg-yellow-700 hover:border-0 hover:text-white
  }
  .btn-cart {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center
  }
}